params {
    genome = '/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fasta'

    vcftools_path = '/hpc/local/CentOS7/cog_bioinf/vcftools-0.1.14/bin'

    cluster_options = "--mail-user $params.email --mail-type FAIL --account=diaggen"
}

process {
    withLabel: FASTQC_0_11_8 {
        cpus = 2
        memory = '1G'
        time = '40m'
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"

        publishDir {
            path = "$params.outdir/QC/FastQC"
            mode = 'copy'
        }
    }

    withLabel: BWA_0_7_17_Mem {
        cpus = 10
        memory = '10G'
        time = '3h'
    }

    withLabel: Sambamba_0_7_0_MarkdupMerge {
        cpus = 8
        memory = '5G'
        time = '40m'
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"
    }

    withLabel: VersionLog {
        cpus = 2
        memory = '5G'
        time = '1h'

        publishDir {
            path = "$params.outdir/log"
            mode = 'copy'
        }
    }

    withLabel: Workflow_Export_Params {
        cpus = 2
        memory = '5G'
        time = '10m'

        publishDir {
            path = "$params.outdir/log"
            mode = 'copy'
        }
    }
}

report {
    enabled = true
    file = "$params.outdir/log/nextflow_report.html"
}

trace {
    enabled = true
    file = "$params.outdir/log/nextflow_trace.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt'
}

timeline {
    enabled = true
    file = "$params.outdir/log/nextflow_timeline.html"
}

profiles {

    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'
            clusterOptions = "$params.cluster_options"

            errorStrategy = 'retry'
            maxRetries = 3
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
            cacheDir = '/hpc/diaggen/software/singularity_cache'
        }

        executor {
            queueSize = 1000
            pollInterval = '1min'
            queueStatInterval = '5min'
            submitRatelimit = '10sec'
        }

       mail {
            smtp.host = 'localhost'
        }
    }

    mac {
        docker.enabled = true
        docker.runOptions = '-v /Users:/Users'
    }
}
