params {

    // HG38 settings. Some tools need unzipped ref. Need to be fixed
    genome = '/hpc/diaggen/projects/ONT_C9_workflow/ref_genome_bgzip/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.fna.gz'
    genome_fasta = '/hpc/diaggen/projects/ONT_C9_workflow/ref_genome_bgzip/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.fna'
    genome_mapping_index = '/hpc/diaggen/projects/ONT_C9_workflow/ref_genome_bgzip/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.fna.mmi'

    //SMN2 targeted genome
    target_genome_fasta = '/hpc/diaggen/projects/ONT_SMA_project/Nextflow/SMN2.fasta'

    // HG19 setttings
    //genome = '/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fasta'
    //genome_fasta = '/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fasta'
    //genome_mapping_index = '/hpc/diaggen/projects/ONT_RvJ/Homo_sapiens.GRCh37.GATK.illumina.mmi'

    // CHM13 settings, Some tools need unzipped ref. Need to be fixed
    //genome =  '/hpc/diaggen/data/databases/ref_genomes/GCA_009914755.4_T2T-CHM13v2.0/GCA_009914755.4_T2T-CHM13v2.0_genomic.fna.gz'
    //genome_fasta = '/hpc/diaggen/data/databases/ref_genomes/GCA_009914755.4_T2T-CHM13v2.0/GCA_009914755.4_T2T-CHM13v2.0_genomic.fna'

    roi = ""

    longshotparams = '--min_alt_frac 0.10 --min_cov 6 --min_alt_count 3'

    guppy_basecaller_path = '/hpc/diaggen/software/tools/ont-guppy_6.1.2/bin/guppy_basecaller'
    guppy_path = '/hpc/diaggen/software/tools/ont-guppy_6.1.2/'
    guppy_basecaller_config = 'dna_r9.4.1_450bps_modbases_5mc_cg_sup.cfg'
    guppy_basecaller_params = ' -q 100000 --chunks_per_runner 750 --compress_fastq -r' 

    striquemodel = 'r9_4_450bps.model'
    libvbz_hdf_plugin = '/hpc/diaggen/software/tools/ont-vbz-hdf-plugin-1.0.1-Linux/hdf5/lib/plugin/'

    //calling_target_smn = '/hpc/diaggen/users/Martin/Research_projects_Martin/SMA_project/PSV_SMN2.bed' 
    calling_target_smn = '5:500000-550000'

    cluster_options = "--mail-user $params.email --mail-type FAIL --account=diaggen"
}

process {

    withLabel: ReBasecallingGuppy {
        cpus = 2
        memory = { 10.GB * task.attempt }
        time = { 144.h * task.attempt }
        queue = 'gpu'
        clusterOptions = "$params.cluster_options --gres=tmpspace:32G  --gres=gpu:2g.20gb:1 "

        publishDir {
            path = "$params.outdir/Guppy/"
            mode = 'link'
        }
    }

    withLabel: FASTQC_0_11_8 {
        cpus = 2
        memory = { 1.GB * task.attempt }
        time = { 40.m * task.attempt }
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"

        publishDir {
            path = "$params.outdir/QC/FastQC"
            mode = 'link'
        }
    }

    withLabel: GATK_4_2_1_0_HaplotypeCaller_SMN {
       cpus = 2
       memory = { 10.GB * task.attempt }
       time = { 20.m * task.attempt }
       clusterOptions = "$params.cluster_options --gres=tmpspace:16G"
    }


    withLabel: GATK_4_2_1_0_MergeVcfs {
       cpus = 2
       memory = { 10.GB * task.attempt }
       time = { 40.m * task.attempt }
       clusterOptions = "$params.cluster_options --gres=tmpspace:10G"
    }

    withLabel: SplitBAM {
        cpus = 2
        memory = { 20.GB * task.attempt }
        time = { 1.h * task.attempt }
        clusterOptions = "$params.cluster_options --gres=tmpspace:20G"

    }

    withLabel: Minimap_2_2_4 {
        cpus = 10
        memory = { 16.GB * task.attempt }
        time = { 20.m * task.attempt }
        clusterOptions = "$params.cluster_options --gres=tmpspace:20G"
    }

    withLabel: Sambamba_0_7_0_ViewSort {
        cpus = 10
        memory = { 16.GB * task.attempt }
        time = { 20.m * task.attempt }
        clusterOptions = "$params.cluster_options --gres=tmpspace:20G"
    }

   withLabel: Sambamba_0_7_0_Filter {
        cpus = 10
        memory = { 16.GB * task.attempt }
        time = { 20.m * task.attempt }
        clusterOptions = "$params.cluster_options --gres=tmpspace:20G"
    }

    withLabel: Sambamba_0_7_0_Merge {
        cpus = 10
        memory = { 48.GB * task.attempt }
        time = { 2.h * task.attempt }
        clusterOptions = "$params.cluster_options --gres=tmpspace:48G"
        publishDir {
            path = "$params.outdir/bam_files"
            mode = 'link'
        }
    }
   
    withLabel: Sambamba_0_7_0_Split {
        cpus = 10
        memory = { 16.GB * task.attempt }
        time = { 20.m * task.attempt }
        clusterOptions = "$params.cluster_options --gres=tmpspace:20G"
        publishDir {
            path = "$params.outdir/bam_files"
            mode = 'link'
        }
    }

    withLabel: Sambamba_0_7_0{
        cpus = 2
        memory = { 16.GB * task.attempt }
        time = { 20.m * task.attempt }
        clusterOptions = "$params.cluster_options --gres=tmpspace:20G"
    }

    withName: Sambamba_Index_Longshot {
        publishDir {
            path = "$params.outdir/bam_files"
            mode = 'link'
            pattern = '*.bai'
        }
    }

    withName: Sambamba_Index_Target {
        publishDir {
            path = "$params.outdir/bam_files"
            mode = 'link'
            pattern = '*.bai'
        }
    }

    withLabel: Sambamba_0_7_0_Filter {
        cpus = 10
        memory = { 16.GB * task.attempt }
        time = { 20.m * task.attempt }
        clusterOptions = "$params.cluster_options --gres=tmpspace:20G"
    }

    withLabel: Samtools_1_15_Fastq {
        cpus = 2
        memory = { 16.GB * task.attempt }
        time = { 60.m * task.attempt }
        clusterOptions = "$params.cluster_options --gres=tmpspace:20G"
    }

    withLabel: LongshotPhase_0_4_1 {
        cpus = 2
        memory = { 32.GB * task.attempt }
        time = { 8.h * task.attempt }
        clusterOptions = "$params.cluster_options --gres=tmpspace:32G"
        publishDir {
            path = "$params.outdir/longshot"
            mode = 'link'
        }
    }

    withLabel: STRique_Index_0_4_2 {
        cpus = 2
        memory = { 16.GB * task.attempt }
        time = { 30.m * task.attempt }
        clusterOptions = "$params.cluster_options --gres=tmpspace:20G"
    }

    withLabel: STRique_Repeat_0_4_2 {
        cpus = 2
        memory = { 16.GB * task.attempt }
        time = { 2.h * task.attempt }
        clusterOptions = "$params.cluster_options --gres=tmpspace:20G"
        publishDir {
            path = "$params.outdir/STRique"
            mode = 'link'
        }
    }
    
    withLabel: Concat_Fofn {
        cpus = 2
        memory = { 4.GB * task.attempt }
        time = { 10.m * task.attempt }
    }
  
    withLabel: PICARD_2_22_0_CollectMultipleMetrics {
        cpus = 2
        memory = { 8.GB * task.attempt }
        time = { 2.h * task.attempt }
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"

        publishDir {
            path = "$params.outdir/QC/Picard"
            mode = 'link'
        }
    }

    withLabel: PICARD_2_22_0_CollectWgsMetrics {
        cpus = 2
        memory = { 8.GB * task.attempt }
        time = { 4.h * task.attempt }
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"

        publishDir {
            path = "$params.outdir/QC/Picard"
            mode = 'link'
        }
    }

    withLabel: PICARD_2_22_0_EstimateLibraryComplexity {
        cpus = 2
        memory = { 8.GB * task.attempt }
        time = { 4.h * task.attempt }
        clusterOptions = "$params.cluster_options --gres=tmpspace:100G"

        publishDir {
            path = "$params.outdir/QC/Picard"
            mode = 'link'
        }
    }

    withLabel: MultiQC_1_9 {
        cpus = 2
        memory = { 1.GB * task.attempt }
        time = { 5.m * task.attempt }
        publishDir {
            path = "$params.outdir/QC"
            mode = 'link'
        }
    }


    withLabel: SaveInputFile {
        memory = '2G'
        time = '2m'
        publishDir {
            path = "$params.outdir/"
            mode = 'link'
        }
    }
     
    withLabel: VersionLog {
        cpus = 2
        memory = '5G'
        time = '1h'

        publishDir {
            path = "$params.outdir/log"
            mode = 'link'
        }
    }

    withLabel: Whatshap_1_7_Phase {
        cpus = 2
        memory = { 16.GB * task.attempt }
        time = { 30.m * task.attempt }
    }

    withLabel: Whatshap_1_7_Haplotag {
        cpus = 2
        memory = { 16.GB * task.attempt }
        time = { 30.m * task.attempt }
        publishDir {
            path = "$params.outdir/bam_files"
            mode = 'link'
            pattern = '*tagged.bam'
        }
    }

    withLabel: Workflow_Export_Params {
        cpus = 2
        memory = '5G'
        time = '10m'

        publishDir {
            path = "$params.outdir/log"
            mode = 'link'
        }
    }
   
    withName: Tabix_Zip_Index {
        cpus = 2
        memory = { 8.GB * task.attempt }
        time = { 10.m * task.attempt }
        publishDir {
            path = "$params.outdir/vcf"
            mode = 'link'
        }
    }
}

report {
    enabled = true
    file = "$params.outdir/log/nextflow_report.html"
}

trace {
    enabled = true
    file = "$params.outdir/log/nextflow_trace.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt'
}

timeline {
    enabled = true
    file = "$params.outdir/log/nextflow_timeline.html"
}

profiles {

    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'
            clusterOptions = "$params.cluster_options"

            errorStrategy = 'retry'
            maxRetries = 1
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
            cacheDir = '/hpc/diaggen/software/singularity_cache'
        }

        executor {
            queueSize = 1000
            pollInterval = '1min'
            queueStatInterval = '5min'
            submitRatelimit = '10sec'
        }

       mail {
            smtp.host = 'localhost'
        }
    }

    mac {
        docker.enabled = true
        docker.runOptions = '-v /Users:/Users'
    }
}
